.spacer {
    flex: 1 1 auto;
}
.icon {
    padding: 0 15px;
}
.logo{
    color:#fff;
    text-decoration:none
}
.profile-img {
    background-size: 32px 32px;
    border-radius: 50%;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}